html, body, .grid-container { height: 100%; margin: 0; font-family: monospace; }
/* div { min-height: 20px; } */
textarea {
  background-color: ghostwhite;
  width: -webkit-fill-available;
  height: 100%;
  padding: 7px 10px 1px 8px;
  margin: -5px;
}

.grid-container * { 
  border: 1px solid silver;
  background-color: silver;
  border-radius: 7px;
  position: relative;
  padding: 4px;
  font-size: large;
  padding: 4px 14px 4px 4px;
}

.grid-container *:after { 
 /* content:attr(class); */
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.4fr 1.5fr 0.5fr;
  grid-template-rows: 0.4fr 1fr 2.4fr 0.5fr;
  gap: 4px 4px;
  grid-template-areas: "header header header header" "leftnav stack program rightnav" "running_stack running_stack running_program running_program" "footer footer footer footer";
}

.header { grid-area: header; font-size: 32px; }

.leftnav { grid-area: leftnav; }

.stack { grid-area: stack; text-align: right; }

.program { grid-area: program; text-align: left;}

.rightnav { grid-area: rightnav; }

.running_stack { grid-area: running_stack; text-align: right; 
  border-radius: 7px 0 0 0;
  width: 20000%;
  left: -19900%;
}

.running_program { grid-area: running_program; 
  width: 1600%
}

.footer { grid-area: footer; }

/* begin checkbox css */
input[type="checkbox"] {
  position: absolute;
  /* opacity: 0; */
  z-index: -1;
}

/* Text color for the label */
input[type="checkbox"]+span {
  cursor: pointer;
  /* font: 16px sans-serif; */
  color: black;
}

/* Checkbox un-checked style */
input[type="checkbox"]+span:before {
  content: '';
  border: 1px solid grey;
  border-radius: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0.5em;
  margin-top: 0.5em;
  vertical-align: -2px;
}

/* Checked checkbox style (in this case the background is red) */
input[type="checkbox"]:checked+span:before {
  background-image: url('./checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
  /* The size of the checkmark icon, you may/may not need this */
  background-size: 25px;
  border-radius: 2px;
  background-color: #f8f8f8;
  color: white;
}

/* Adding a border around the active tabbed-into checkbox */
input[type="checkbox"]:focus+span:before,
input[type="checkbox"]:not(:disabled)+span:hover:before {
  /* Visible in the full-color space */
  box-shadow: 0px 0px 0px 2px rgba(0, 150, 255, 1);

  /* Visible in Windows high-contrast themes
     box-shadow will be hidden in these modes and
     transparency will not be hidden in high-contrast
     thus box-shadow will not show but the outline will
     providing accessibility */
  outline-color: transparent;
  outline-width: 2px;
  outline-style: dotted;
  }


/* Disabled checkbox styles */
input[type="checkbox"]:disabled+span {
  cursor: default;
  color: black;
  opacity: 0.5;
}
/* enough checkbox css */
